# Virtual environment
env/
bin/
include/
lib/
lib64
share/
pyvenv.cfg

# Pip status
pip-selfcheck.json

# Temporary files
__pycache__/
/.ipynb/
*/.ipynb_checkpoints/
*~
*.swp
*.pyc
forNathalie/*
notebooks_tests/
/data/

# Data relating to development/deployment
out/
res/
temp/
test_*
/test_data/

# Pip installation files
*egg-info/
